<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exploure with us</title>
  <link rel="stylesheet" href="../../style/home.css">
  <link rel="stylesheet" href="../../style/utils.css">
  <link rel="stylesheet" href="../../style/post.css">
</head>

<body>
  <header class="flex-row centerY header">
    <section class="Branding font-branding">RELEM</section>
    <section class="navigation font-regular">
      <nav>
        <ul class="flex-row centerY">
          <li><a href="/" class="font-main-light">Home</a></li>
          <li><a href="/about" class="font-main-light">About</a></li>
          <li><a href="/posts" class="font-main-light">Posts</a></li>
          <li><a href="/contact" class="font-main-light">contact</a></li>
          <li><a href="/settings" class="font-main-light">Settings</a></li>
        </ul>
      </nav>
    </section>
  </header>
  <main class="font-main-regular">
    <div class="layer">
      <section class="latestpost fade">
        <h2>Latest Posts</h2>
        <section class="postdiv flex-row centerY">
          <div class="psts">
            <img src="https://c4.wallpaperflare.com/wallpaper/178/411/657/sunset-mountains-landscape-himalayas-wallpaper-preview.jpg" alt="something">
            <h3>Trip to ---- </h3>
            <p class="font-main-light">Sub title</p>
            <div class="ratediv font-main-light flex-row" >
              <span>Likes: 455</span><span>Clicks: 1k</span>
            </div>
            <form action="/posts/articlename" class="flex-row btnform">
              <input type="submit" value="Read" class="defbutton">
            </form>
          </div>
        </section>
      </section>
      <section class="mostviewed fade">
        <h2>Most Viewed</h2>
        <section class="postdiv ">
          <div class="psts">
            <img src="" alt="something">
            <h3>Title</h3>
            <p>Sub title</p>
            <div class="ratediv">
              <span>Likes</span><span>Clicks</span>
            </div>
          </div>
        </section>
      </section>
    </div>
    <div class="social">
      <h2>Follow me on:</h2>
      <a href="https://www.instagram.com">Instagram</a>
      <a href="https://www.twitter.com">Twitter</a>
      <a href="https://www.facebook.com">Facebook</a>
    </div>
  </main>

</body>
<script src="../../logic/post.js"></script>
</html>